/* https://github.com/TheFrankyDoll/win10-style-waybar */
@define-color bg_main rgba(25, 25, 25, 0.65);
@define-color fg_main white;

@define-color fg_inactive rgba(255, 255, 255, 0.25);

@define-color bg_hover rgba(200, 200, 200, 0.3);

@define-color fg_warning rgb(255, 222, 26);
@define-color bg_warning rgba(255, 200, 0, 0.35);

@define-color fg_critical rgb(245, 24, 32);
@define-color bg_critical rgba(245, 24, 32, 0.35);

@define-color border_tooltip rgba(255, 255, 255, 0.2);
@define-color bg_tooltip rgba(0, 0, 0, 0.7);


* {
  text-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  font-weight: 500;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

window#waybar {
  background:  @bg_main;
  color: @fg_main;
}

#window {
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

tooltip {
  background: @bg_tooltip;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: @border_tooltip;
}
tooltip label{
  color: @fg_main;
}

#workspaces button,
#mpris.paused {
  color: @fg_inactive;
}

#tray > widget:hover,
#clock:hover,
#pulseaudio:hover,
#workspaces button.focused,
#workspaces button:hover {
  background: @bg_hover;
  color: @fg_main;
}

#workspaces button.urgent,
#battery.warning,
#cpu.warning {
  background:  @bg_warning;
  color: @fg_warning;
}

#memory.critical,
#cpu.critical,
#battery.critical {
  background:  @bg_critical;
  color: @fg_critical;
}

#pulseaudio,
#network, 
#cpu, 
#memory, 
#battery,
#custom-org-clock,
#tray {
  margin-right: 8px;
  margin-left: 8px;
}
