#for_window [title="Emacs"]  floating enable
for_window [title="Enter LaTeX Formula - TexText"]  floating enable
for_window [title="Enter LaTeX Formula - TexText"]  move position 1200 300
for_window [title="org-protocol-capture"]  floating enable
for_window [title="org-protocol-capture"]  resize set 500 700
assign [app_id="term"] term
assign [app_id="firefox"] 3
assign [app_id="emacs"] 1
assign [app_id="vesktop"] 8
for_window [app_id="com.saivert.pwvucontrol"] floating enable
for_window [title="Bitwarden"] floating enable
for_window [title="Picture-in-Picture"] floating enable; resize set 640 360; move position 1080
#for_window [title="Picture-in-Picture"] resize set 640 480
